# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.egg
*.egg-info/
dist/
build/
*.log
*.env
.env/
venv/
ENV/
*.sqlite3
*.db
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.cover
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.cache/
*.spec
*.tmp
*.out
*.old
*.orig
*.rej
*.swo
*.swn